/* === BOX-SIZING === */

* {
    font-size: x-large;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* === EINGABEFELD === */

#eingabefeld {
  text-align: center;
}

/* === BANNER === */

#navigation {
    height: 100px;
    width: 100%;

    background-color: rgba(135, 131, 127, 0.413);
}

/* === LOGO === */

#logo {
    height: 80px;
    width: 80px;
    margin: 10px;
    float: left;

    background-color: aliceblue;
    background: url("rechner.png");
    background-size: contain;

}

/* === ÜBERSCHRIFT === */

.headline {
    font-size: 2em;
    flex: 1;
    text-align: center;
    color: aliceblue; 
}

/* === LISTEN IN DER NAVIGATIONSLEISTE === */

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.list li {
    float: right;
  }
  
.list li a {
    display: block;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
  }
  
.list li a:hover {
    background-color: #111;
  }

  /* === AUSGABE === */

  #ausgabe2 {
    text-align: center;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 5000px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }